<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title">{{ title }}</span>
      <div class="mdl-layout-spacer"></div>
      <a class="mdl-navigation__link" routerLink="/users">Users</a>
      <a class="mdl-navigation__link" routerLink="/conversations">Conversations</a>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" *ngIf="!user" (click)="login()">Login</a>
        <a class="mdl-navigation__link" *ngIf="user" (click)="logout()">Logout</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
  <div style="margin: 8px; max-width: 800px; margin: auto;">
    <router-outlet></router-outlet>
  </div>
  </main>
</div>
